USE [master]
GO
/****** Object:  Database [QL_SV]    Script Date: 12/4/2017 10:27:45 PM ******/
CREATE DATABASE [QL_SV]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QL_SV', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\QL_SV.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QL_SV_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\QL_SV_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QL_SV].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QL_SV]
GO
/****** Object:  Table [dbo].[b1]    Script Date: 12/4/2017 10:27:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[b1](
	[MASSV] [nvarchar](50) NULL,
	[HoTen] [nvarchar](50) NULL,
	[KiThi] [nvarchar](50) NULL,
	[DiemThi(Toeic)] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[banghocphi]    Script Date: 12/4/2017 10:27:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[banghocphi](
	[MaMon] [nvarchar](50) NOT NULL,
	[MonHoc] [nvarchar](50) NULL,
	[SoTinChi] [nvarchar](50) NULL,
	[GiaTien] [nvarchar](50) NULL,
	[NamHoc] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_banghocphi] PRIMARY KEY CLUSTERED 
(
	[NamHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BangThongTinGiaDinh]    Script Date: 12/4/2017 10:27:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BangThongTinGiaDinh](
	[MSSV] [nvarchar](50) NULL,
	[HoTen] [nvarchar](50) NULL,
	[SoĐienThoaiBo] [nvarchar](50) NULL,
	[HoTenBo] [nvarchar](50) NULL,
	[NgheNghiepBo] [nvarchar](50) NULL,
	[SoDienThoaiMe] [nvarchar](50) NULL,
	[HoTenMe] [nvarchar](50) NULL,
	[NgheNghiepMe] [nvarchar](50) NULL,
	[DiaChiGiaDinh] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BangThongTinHoanCanh]    Script Date: 12/4/2017 10:27:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BangThongTinHoanCanh](
	[MSSV] [nvarchar](50) NULL,
	[HoTen] [nvarchar](50) NULL,
	[HoNgheo] [nvarchar](50) NULL,
	[VungDacBietKhoKhan] [nvarchar](50) NULL,
	[MoCoi] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Benxeploai]    Script Date: 12/4/2017 10:27:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Benxeploai](
	[MSSV] [nvarchar](50) NULL,
	[HoTen] [nvarchar](50) NULL,
	[HanhKiem] [nvarchar](50) NULL,
	[NamHoc] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DIEMHP]    Script Date: 12/4/2017 10:27:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIEMHP](
	[MaSV] [nvarchar](50) NOT NULL,
	[MaMon] [nvarchar](50) NULL,
	[DiemGK] [nvarchar](50) NULL,
	[DiemCK] [nvarchar](50) NULL,
 CONSTRAINT [PK_DIEMHP] PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOCKY]    Script Date: 12/4/2017 10:27:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOCKY](
	[MaHK] [nvarchar](50) NOT NULL,
	[TenHK] [nvarchar](50) NULL,
 CONSTRAINT [PK_HOCKY] PRIMARY KEY CLUSTERED 
(
	[MaHK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LoginAdmin]    Script Date: 12/4/2017 10:27:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoginAdmin](
	[username] [nvarchar](50) NOT NULL,
	[passwword] [nvarchar](50) NULL,
 CONSTRAINT [PK_ttlonginadmin] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LoginMember]    Script Date: 12/4/2017 10:27:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoginMember](
	[username] [nvarchar](50) NOT NULL,
	[passwword] [nvarchar](50) NULL,
 CONSTRAINT [PK_ttlongintaikhoanthuong] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOP]    Script Date: 12/4/2017 10:27:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOP](
	[MaLop] [nvarchar](50) NOT NULL,
	[TenLop] [nvarchar](50) NULL,
 CONSTRAINT [PK_LOP] PRIMARY KEY CLUSTERED 
(
	[MaLop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MONHP]    Script Date: 12/4/2017 10:27:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONHP](
	[MaMon] [nvarchar](50) NOT NULL,
	[TenMon] [nvarchar](50) NULL,
	[SoTinChi] [nvarchar](50) NULL,
	[MaHK] [nvarchar](50) NULL,
 CONSTRAINT [PK_MONHP] PRIMARY KEY CLUSTERED 
(
	[MaMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 12/4/2017 10:27:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[MaSV] [nvarchar](50) NOT NULL,
	[HoTen] [nvarchar](50) NULL,
	[NgaySinh] [nvarchar](50) NULL,
	[GioiTinh] [nvarchar](50) NULL,
	[NoiSinh] [nvarchar](50) NULL,
	[DanToc] [nvarchar](50) NULL,
	[MaLop] [nvarchar](50) NULL,
 CONSTRAINT [PK_SINHVIEN] PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[MONHP]  WITH CHECK ADD  CONSTRAINT [FK_MONHP_DIEMHP] FOREIGN KEY([TenMon])
REFERENCES [dbo].[DIEMHP] ([MaSV])
GO
ALTER TABLE [dbo].[MONHP] CHECK CONSTRAINT [FK_MONHP_DIEMHP]
GO
ALTER TABLE [dbo].[MONHP]  WITH CHECK ADD  CONSTRAINT [FK_MONHP_HOCKY] FOREIGN KEY([TenMon])
REFERENCES [dbo].[HOCKY] ([MaHK])
GO
ALTER TABLE [dbo].[MONHP] CHECK CONSTRAINT [FK_MONHP_HOCKY]
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD  CONSTRAINT [FK_SINHVIEN_DIEMHP] FOREIGN KEY([HoTen])
REFERENCES [dbo].[DIEMHP] ([MaSV])
GO
ALTER TABLE [dbo].[SINHVIEN] CHECK CONSTRAINT [FK_SINHVIEN_DIEMHP]
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD  CONSTRAINT [FK_SINHVIEN_LOP] FOREIGN KEY([NoiSinh])
REFERENCES [dbo].[LOP] ([MaLop])
GO
ALTER TABLE [dbo].[SINHVIEN] CHECK CONSTRAINT [FK_SINHVIEN_LOP]
GO
USE [master]
GO
